{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'default_bootstrap_admin.html.twig' %}
{% set back_home_link = '<a href="/">home page</a>' %}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {% set back_home_link = '<a href="/admin/">Dashboard</a>' %}    
{% endif %}

{% block content %}
    <h1>Page Not Found</h1>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or return to the {{ back_home_link|raw }}.
    </p>
{% endblock %}