{# app/Resources/TwigBundle/views/Exception/error.html.twig #}
{% extends 'default_bootstrap_admin.html.twig' %}

{% block content %}
    
    <h1>An Error Occurred</h1>
    <p>The server returned a "{{ status_code }} {{ status_text }}".</p>

    <hr>

    {% if app.environment == 'dev' %}
        <h2>Stack Trace</h2>
        {{ dump() }}
    {% endif %}

{% endblock %}
