{% block side_nav %}

  {% if app.request.pathInfo == '/admin/workspace/' %}
    <div class="col-sm-3 col-md-2 sidebar sidebar-nav resizable">
      <div id="jstree"></div>
    </div> <!--/.sidebar-nav -->
  {% endif %}

{% endblock %}
