{% block side_nav %}

  <div class="col-sm-3 col-md-2 sidebar sidebar-nav resizable">
      <a id="hide_side_nav" href="javascript:void(0);" class="btn btn-default btn-xs" style="position: fixed; top: 52px; left: 2px;"><i class="glyphicon glyphicon-arrow-left"></i> Hide Navigation</a>
      <ul class="nav nav-list" id="main_side_nav">
          <li class="nav-header"><a href="/admin/">Dashboard</a></li>
          <li class="nav-header projects"><i class="glyphicon-chevron-right glyphicon"></i> Projects</li>
          <li style="display:none;" class="projects"><a href="/admin/projects/">Browse Projects</a></li>
          <li style="display:none;" class="projects"><a href="/admin/projects/manage">Create a New Project</a></li>
          <li class="nav-header resources"><i class="glyphicon-chevron-right glyphicon"></i> Resources</li>
          <li style="display:none;" class="resources"><a href="/admin/resources/">Browse Resources</a></li>
          <li class="nav-header"><a href="/profile/edit">Profile/Settings</a></li>
      </ul>
  </div><!--/.sidebar-nav -->

{% endblock %}
{#
{% block show_side_nav %}
  <!-- <a id="show_side_nav" href="javascript:void(0);" class="btn btn-default btn-xs" style="margin: 2px 0px 2px 2px;"><i class="glyphicon glyphicon-arrow-right"></i> Show Navigation</a> -->
{% endblock %}
#}
