{% extends 'default_bootstrap_admin.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h2>Bag It Validation</h2>
			<p><a href="/admin/bagit/create">Create a bag</a> in <code>/web/uploads/testbag</code> from files located in <code>/web/uploads/testbag_files</code></p>
			{% for label, messages in app.flashes %}
		    {% for message in messages %}
		      <div class="alert alert-success flash-{{ label }}" role="alert">
		        {{ message }}
		      </div>
		    {% endfor %}
		  {% endfor %}
			<form>
				<label>Folder URL</label>
				<input type="text" name="bagiturl" class="form-control" id="bagiturl" placeholder="/web/uploads/testbag">
				<br>
				<div class="row">
					<div class="col-md-6">
						<button type="button" id="btn-validate" class="btn btn-primary btn-block">Check Valid</button>
					</div>
					<div class="col-md-6">
						<button type="button" id="btn-update" class="btn btn-primary btn-block" disabled>Update</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12" id="message"><div></div></div>
	</div>
{% endblock %}

{% block js_bottom %}
	<script src="{{ asset('lib/javascripts/bagitchecker.js') }}"></script>
{% endblock %}