<div class="pull-left">
  <p><span class="glyphicon glyphicon-sunglasses" aria-hidden="true" style="color:#de5516; font-size:1.85rem;"></span> <strong>Smithsonian DPO: 3D Repository</strong> | <a href="https://github.com/Smithsonian/dporepo">GitHub</a></p>
</div>

<div class="pull-right">
  <p><span class="glyphicon glyphicon-stats" aria-hidden="true" style="color:#de5516; font-size:1.85rem;"></span> <strong>Version:</strong> {{ get_git_data() }}</p>
</div>