# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # EDAN Connection Settings
    edan_url: ~
    edan_app_id: ~
    edan_auth_token: ~
    edan_version: ~
    edan_search_endpoint: ~
    edan_content_endpoint: ~

    # SI Active Directory Settings
    si_ldap_host: ~
    si_ldap_username: ~
    si_ldap_password: ~
    si_ldap_account_domain_name: ~
    si_ldap_base_dn: ~

    # File upload path
    uploads_directory: ~

    # External file storage parameters
    # See: vendor/sabre/dav/lib/DAV/Client.php
    external_file_storage_location: ~
    external_file_storage_auth_type: ~
    external_file_storage_username: ~
    external_file_storage_password: ~
    external_file_storage_path: ~
    external_file_storage_on: 1

    # Processing service parameters
    processing_service_location: ~
    processing_service_auth_type: ~
    processing_service_client_id: ~
    processing_service_on: 1