{% extends 'default_bootstrap_admin.html.twig' %}

{% block content %}

  <ol class="breadcrumb">
  	<li><a href="/admin">Dashboard</a></li>
    <li class="active">Resources</li>
  </ol>

  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4>Placeholder (Placeholder)</h4>
          <p>options</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4><a href="/admin/resources/capture_methods">Capture Methods</a></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4><a href="/admin/resources/dataset_types">Capture Dataset Types</a></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4><a href="/admin/resources/item_position_types">Item Position Types</a></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4><a href="/admin/resources/focus_types">Focus Types</a></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary text-center">
        <div class="panel-body">
          <h4><a href="/admin/resources/light_source_types">Light Source Types</a></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4><a href="/admin/resources/camera_cluster_types">Camera Cluster Types</a></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4><a href="/admin/resources/background_removal_methods">Background Removal Methods</a></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary text-center">
        <div class="panel-body">
          <h4><a href="/admin/resources/item_types">Item Types</a></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4><a href="/admin/resources/data_rights_restriction_types">Data Rights Restriction Types</a></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4><a href="/admin/resources/scale_bar_barcode_types">Scale Bar Barcode Types</a></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary text-center">
        <div class="panel-body">
          <h4><a href="/admin/resources/target_types">Target Types</a></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4><a href="/admin/resources/units">Units</a></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4><a href="/admin/resources/calibration_object_types">Calibration Object Types</a></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4><a href="/admin/resources/status_types">Status Types</a></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4><a href="/admin/resources/unit_stakeholder">Units/Stakeholders</a></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4>Map Type (UV Map)</h4>
          <p>normal, ambient occlusion, photo texture, hole fill</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4>Action Method (Processing Action)</h4>
          <p>align, mesh, cleanup, texture</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4>Creation Methods (Model)</h4>
          <p>scan-to-mesh, CAD</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4>Model Modality (Model)</h4>
          <p>options</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body text-center">
          <h4>Model Purpose (Model)</h4>
          <p>options</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
