{% extends 'default_bootstrap_admin.html.twig' %}

{% block content %}
    
    {% if errors %}
      <div class="alert alert-danger">
        <h4>Form Errors</h4>
        {% for single_error in errors %}
        <p>{{ single_error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <ol class="breadcrumb">
      <li><a href="/admin">Dashboard</a></li>
      <li><a href="/admin/resources">Resources</a></li>
      <li><a href="/admin/resources/status_types">Browse Status Types</a></li>
      <li class="active">{{ page_title|e }}</li>
    </ol>

    <form id="lookup_form" method="POST">
      {#% include 'csrf_input.html' %#}
      <!-- row -->
      <div id="single_lookup_container" class="row">

        <!-- Column 1 -->
        <div class="col-sm-12 col-md-12">

          <div class="form-group">
            <label class="control-label" for="label"><span style="color:red;">*</span>Label:</label>
            <div class="controls">
              <input name="label" id="label" type="text" required="true" value="{{ data.label|default('')|e }}" class="form-control">
            </div>
          </div>

        </div>

      </div>

      <div class="field-group" style="clear:both;">
        <input class="btn btn-primary" type="submit" value="Save Edits">
      </div>
    </form>
{% endblock %}
