<!-- Panel 1 -->
<div class="row" style="margin-top: 5rem;">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Project</h3>
      </div>
      <div class="panel-body">
        <button type="button" class="btn btn-default select-record" data-select="project"><i class="glyphicon glyphicon-plus"></i> Select a Project (optional)</button>
        <button type="button" class="btn btn-default skip-record"><i class="glyphicon glyphicon-remove-circle"></i> Skip</button>
        <div class="well project-well hidden"></div>
        <hr>
        <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> This step is optional. If no project is 
        associated to the target Subject, this step can be skipped.</p>
      </div>
    </div>
  </div>
  <!-- Panel 2 -->
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Subject</h3>
      </div>
      <div class="panel-body">
        <button type="button" class="btn btn-default select-record" data-select="subject" disabled="disabled"><i class="glyphicon glyphicon-plus"></i> Select a Subject</button>
        <button type="button" class="btn btn-default create-record" data-create="subject" disabled="disabled"><i class="glyphicon glyphicon-pencil"></i> Create a New Subject</button>
        <div class="well subject-well hidden"></div>
      </div>
    </div>
  </div>
  <!-- Panel 3 -->
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Item</h3>
      </div>
      <div class="panel-body">
        <button type="button" class="btn btn-default select-record" data-select="item" disabled="disabled"><i class="glyphicon glyphicon-plus"></i> Select an Item</button>
        <button type="button" class="btn btn-default create-record" data-create="item" disabled="disabled"><i class="glyphicon glyphicon-pencil"></i> Create a New Item</button>
        <div class="well item-well hidden"></div>
      </div>
    </div>
  </div>
</div>