{% block record_picker_modal %}
<div class="modal fade" id="record-picker-modal" tabindex="-1" role="dialog" aria-labelledby="recordPickerLabel" data-keyboard="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="recordPickerLabel"><i class="glyphicon glyphicon-th-list"></i> <span id="record-picker-modal-title">Select</span></h2>
      </div>
      <div class="modal-body" style="min-height: 24rem;">
        <p class="text-primary"><i class="glyphicon glyphicon-exclamation-sign"></i> Selecting a record automatically populates the main window.</p>
        <hr>
        <table id="project" class="table table-hover table-bordered hidden" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="text-center">Project</th>
              <th class="text-center">Stakeholder</th>
              <th class="text-center">Subjects Count</th>
              <th class="text-center">Created</th>
              <th class="text-center">Modified</th>
            </tr>
          </thead>
        </table>
        <table id="subject" class="table table-hover table-bordered hidden" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="text-center">Subject Name</th>
              <th class="text-center">Holding Unit Name</th>
              <th class="text-center">Items Count</th>
              <th class="text-center">Modified</th>
            </tr>
          </thead>
        </table>
        <table id="item" class="table table-hover table-bordered hidden" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="text-center">Item Description</th>
              <th class="text-center">Local Item ID</th>
              <th class="text-center">Datasets Count</th>
              <th class="text-center">Modified</th>
            </tr>
          </thead>
        </table>
        <table id="capture-dataset" class="table table-hover table-bordered hidden" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="text-center"></th>
              <th class="text-center"></th>
              <th class="text-center"></th>
              <th class="text-center"></th>
              <th class="text-center"></th>
              <th class="text-center"></th>
              <th class="text-center"></th>
            </tr>
          </thead>
        </table>
      </div>

    </div>
  </div>
</div>
{% endblock %}