{% block subject_edan_form %}
<div class="modal fade" id="subject-form-modal" tabindex="-1" role="dialog" aria-labelledby="subjectFormLabel" data-keyboard="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="subjectFormLabel"><i class="glyphicon glyphicon-th-list"></i> <span id="subject-form-modal-title">Create a New Subject</span></h2>
      </div>
      <div class="modal-body" style="min-height: 24rem;">
        {# {{ form_start(subject_form) }} #} {# , {'attr': {'novalidate': 'novalidate'}} #}
          
          {# EDAN Picker #}
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <h3>Enter a Search Term</h3>
              <div class="form-group panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-10 col-md-10">
                      <label class="control-label hidden" for="searchQuery">Search</label>
                      <div class="controls">
                        <input name="searchQuery" title="search-query" id="search-query" type="text" value="" class="form-control" placeholder="example: space shuttle">
                      </div>
                    </div>
                    <div class="col-sm-2 col-md-2">
                      <div class="controls">
                        <button type="button" id="search-query-button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> Search</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div id="search-results" class="col-sm-12 col-md-12 center-block" style="margin-left: auto; float: none;">

            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      {# {{ form_end(subject_form) }} #}
    </div>
  </div>
</div>
{% endblock %}