<div class="modal fade" id="uploading-modal" tabindex="-1" role="dialog" aria-labelledby="uploadingLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="uploadingLabel"><i class="glyphicon glyphicon-time"></i> <span id="uploading-modal-title"></span></h2>
      </div>
      <div class="modal-body" style="min-height: 24rem;">
        <div class="text-center">
          <span id="uploading-modal-message"></span>
        </div>
        <div class="center-block" style="width: 140px; margin-top: 3rem;">
          <img src="/lib/images/spinner.gif" alt="loading animation" style="width: 140px;">
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>