{% extends 'default_bootstrap_admin.html.twig' %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <h2>
        Tables in database
      </h2>
      <div class="table-responsive">
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Exist</th>
            </tr>
          </thead>
          <tbody>
            {% for table in tables %}
              <tr>
                <td>{{table.name}}</td>
                <td class="text-capitalize">{{table.exist}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div>
        <button class="btn btn-primary" data-toggle="modal" data-target="#confirmation-modal">Install Database</button>
      </div>
    </div>
  </div>
  <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="confirmation-message"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="install">Install</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
